In [1]:
import pandas as pd

In [2]:
new_df = pd.read_csv('Cosmetologists.csv', header=1)

In [3]:
new_df

,FIRSTNAME,LASTNAME,ADDRESS1,ADDRESS2,CITY,State Code,ZIPCODE,LIC TYPE CODE,LICENSENUM,DATEOFEXPIRY,LIC STATUS CODE
0,Johnette,Bowling,4252 Mitchell Estate St.,NaN,Sophia,NC,27350,C,55855.0,10/1/22,E
1,Melody,Jefferson,2707-A Bluff View Drive,NaN,Greenville,NC,27834,C,94904.0,10/1/22,A
2,Ignacio,Quezada-Mendoza,NaN,NaN,NaN,NaN,NaN,C,108424.0,10/1/23,A
3,Aleksandra,Khudina,16e mansion woods,NaN,Agawam,MA,01001,C,108299.0,10/1/23,A
4,Natalie,Sharac,6 Kylene circle,NaN,Southampton,MA,01073,C,117017.0,10/1/23,A
...,...,...,...,...,...,...,...,...,...,...,...
79618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
new_df = new_df.rename(columns={'FIRSTNAME':'First Name', 'LASTNAME':'Last Name'})

In [5]:
new_df

,First Name,Last Name,ADDRESS1,ADDRESS2,CITY,State Code,ZIPCODE,LIC TYPE CODE,LICENSENUM,DATEOFEXPIRY,LIC STATUS CODE
0,Johnette,Bowling,4252 Mitchell Estate St.,NaN,Sophia,NC,27350,C,55855.0,10/1/22,E
1,Melody,Jefferson,2707-A Bluff View Drive,NaN,Greenville,NC,27834,C,94904.0,10/1/22,A
2,Ignacio,Quezada-Mendoza,NaN,NaN,NaN,NaN,NaN,C,108424.0,10/1/23,A
3,Aleksandra,Khudina,16e mansion woods,NaN,Agawam,MA,01001,C,108299.0,10/1/23,A
4,Natalie,Sharac,6 Kylene circle,NaN,Southampton,MA,01073,C,117017.0,10/1/23,A
...,...,...,...,...,...,...,...,...,...,...,...
79618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
new_df = new_df.drop(columns='ADDRESS2')

In [7]:
new_df = new_df.dropna()

In [8]:
new_df

,First Name,Last Name,ADDRESS1,CITY,State Code,ZIPCODE,LIC TYPE CODE,LICENSENUM,DATEOFEXPIRY,LIC STATUS CODE
0,Johnette,Bowling,4252 Mitchell Estate St.,Sophia,NC,27350,C,55855.0,10/1/22,E
1,Melody,Jefferson,2707-A Bluff View Drive,Greenville,NC,27834,C,94904.0,10/1/22,A
3,Aleksandra,Khudina,16e mansion woods,Agawam,MA,01001,C,108299.0,10/1/23,A
4,Natalie,Sharac,6 Kylene circle,Southampton,MA,01073,C,117017.0,10/1/23,A
5,Lakyn,Brozo,114 Belchertown Street,Three Rivers,MA,01080,C,99451.0,10/1/23,A
...,...,...,...,...,...,...,...,...,...,...
71899,Bernadette,Markins,P O Box 258,Wailuku,HI,96793,C,13348.0,10/1/16,I
71900,Terri,Luong,PO Box 22366,Honolulu,HI,96823,C,94659.0,10/1/16,A
71901,Shaniqua,Dickson,29652 18th Ave S.,Federal Way,WA,98057,C,95087.0,10/1/16,A
71902,Krista,Vrolyks,610 NW 114th St,Vancouver,WA,98685,C,83229.0,10/1/16,A
71903,Margaret,Gomez-Gonzalez,4723 N Smith St,Spokane,WA,99217,C,95523.0,10/1/16,A

In [9]:
new_df = new_df.rename(columns={'ADDRESS1': 'Address', 'CITY':'City', 'State Code': 'State', 'ZIPCODE':'Zip', 'LIC TYPE CODE':'License Code', 'DATEOFEXPIRY':'Expiration Date'})

In [10]:
new_df = new_df.rename(columns={'LICENSENUM': 'License Number', 'LIC STATUS CODE': 'License Status Code'})

In [11]:
new_df

,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code
0,Johnette,Bowling,4252 Mitchell Estate St.,Sophia,NC,27350,C,55855.0,10/1/22,E
1,Melody,Jefferson,2707-A Bluff View Drive,Greenville,NC,27834,C,94904.0,10/1/22,A
3,Aleksandra,Khudina,16e mansion woods,Agawam,MA,01001,C,108299.0,10/1/23,A
4,Natalie,Sharac,6 Kylene circle,Southampton,MA,01073,C,117017.0,10/1/23,A
5,Lakyn,Brozo,114 Belchertown Street,Three Rivers,MA,01080,C,99451.0,10/1/23,A
...,...,...,...,...,...,...,...,...,...,...
71899,Bernadette,Markins,P O Box 258,Wailuku,HI,96793,C,13348.0,10/1/16,I
71900,Terri,Luong,PO Box 22366,Honolulu,HI,96823,C,94659.0,10/1/16,A
71901,Shaniqua,Dickson,29652 18th Ave S.,Federal Way,WA,98057,C,95087.0,10/1/16,A
71902,Krista,Vrolyks,610 NW 114th St,Vancouver,WA,98685,C,83229.0,10/1/16,A
71903,Margaret,Gomez-Gonzalez,4723 N Smith St,Spokane,WA,99217,C,95523.0,10/1/16,A

In [12]:
nc_df = new_df.loc[new_df['State'] == 'NC']

In [13]:
nc_df = nc_df.reset_index()

In [14]:
sc_df = new_df.loc[new_df['State'] == 'SC']

In [15]:
sc_df = sc_df.reset_index()

In [16]:
nc_df = nc_df.drop(columns = ['index'])

In [17]:
sc_df = sc_df.drop(columns = ['index'])

In [18]:
## Checking for Duplicates
nc_df.drop_duplicates()

,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code
0,Johnette,Bowling,4252 Mitchell Estate St.,Sophia,NC,27350,C,55855.0,10/1/22,E
1,Melody,Jefferson,2707-A Bluff View Drive,Greenville,NC,27834,C,94904.0,10/1/22,A
2,Tomeka,Adams,600 Joshua pl nw #24,Concord,NC,01201,C,108844.0,10/1/23,A
3,Carrie,Garner,144 Enfield Street,Hartford,NC,06112,C,98275.0,10/1/23,A
4,Tabitha,Kistler,5250 Highway 73,Iron Station,NC,2&080,C,45552.0,10/1/23,E
...,...,...,...,...,...,...,...,...,...,...
64936,Lori,Bird-Webber,318 hawthorne lane,murphy,NC,28906,C,77910.0,10/1/16,E
64937,Linda,Creech,1300 Tilson Road,MURPHY,NC,28906,C,85634.0,10/1/16,A
64938,Heidi,Lampman,30 Duke Street,MURPHY,NC,28906,C,83509.0,10/1/16,E
64939,Brenda,Ledford,35 Hardy Truett Rd.,Murphy,NC,28906,C,22116.0,10/1/16,E
64940,Anya,Beaver,267 Bryson Road,MURPHY,NC,28906,C,80447.0,10/1/16,A

In [19]:
sc_df.drop_duplicates()

,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code
0,Margaret,Berkley,973 platinum dr.,Fort mill,SC,20708,C,55199.0,10/1/23,E
1,Thamar,Vernet,160 Lodges Ln Apt 108,Clover,SC,23920,C,118805.0,10/1/23,A
2,Suzanne,Karkoska,608 22nd ave n,North myrtle beach,SC,27502,C,54611.0,10/1/23,A
3,Robyn,Pirog,116 Adelphia Rd,Loris,SC,27569,C,97334.0,10/1/23,A
4,Katherine,Miller,486 Gloria court,Florence,SC,27607,C,97491.0,10/1/23,A
...,...,...,...,...,...,...,...,...,...,...
1968,Tonya,Walker,435 red oak drive,aiken,SC,29801,C,80387.0,10/1/16,A
1969,Jennifer,Underwood,126 Horry street se,Aiken,SC,29801,C,59457.0,10/1/16,A
1970,Claudia,Herrington,46 Birch Dr.,Beaufort,SC,29906,C,74180.0,10/1/16,A
1971,Tiffany,Burnett,53 Confederate Avenue,Bluffton,SC,29910,C,78700.0,10/1/16,A
1972,Elizabeth,Mayer,127 Lake Linden Drive,Bluffton,SC,29910,C,262.0,10/1/16,E

In [20]:
nc_df.dtypes

First Name              object
Last Name               object
Address                 object
City                    object
State                   object
Zip                     object
License Code            object
License Number         float64
Expiration Date         object
License Status Code     object
dtype: object

In [21]:
from pandas import to_datetime
import datetime

In [22]:
nc_df['Expiration Date'] = pd.to_datetime(nc_df['Expiration Date'])
nc_df

,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code
0,Johnette,Bowling,4252 Mitchell Estate St.,Sophia,NC,27350,C,55855.0,2022-10-01,E
1,Melody,Jefferson,2707-A Bluff View Drive,Greenville,NC,27834,C,94904.0,2022-10-01,A
2,Tomeka,Adams,600 Joshua pl nw #24,Concord,NC,01201,C,108844.0,2023-10-01,A
3,Carrie,Garner,144 Enfield Street,Hartford,NC,06112,C,98275.0,2023-10-01,A
4,Tabitha,Kistler,5250 Highway 73,Iron Station,NC,2&080,C,45552.0,2023-10-01,E
...,...,...,...,...,...,...,...,...,...,...
64936,Lori,Bird-Webber,318 hawthorne lane,murphy,NC,28906,C,77910.0,2016-10-01,E
64937,Linda,Creech,1300 Tilson Road,MURPHY,NC,28906,C,85634.0,2016-10-01,A
64938,Heidi,Lampman,30 Duke Street,MURPHY,NC,28906,C,83509.0,2016-10-01,E
64939,Brenda,Ledford,35 Hardy Truett Rd.,Murphy,NC,28906,C,22116.0,2016-10-01,E
64940,Anya,Beaver,267 Bryson Road,MURPHY,NC,28906,C,80447.0,2016-10-01,A

In [23]:
nc_df_2021 = nc_df[nc_df['Expiration Date'].dt.year == 2021]
nc_df_2022 = nc_df[nc_df['Expiration Date'].dt.year == 2022]
nc_df_2023 = nc_df[nc_df['Expiration Date'].dt.year == 2023]
nc_df_2021 = nc_df_2021.reset_index()
nc_df_2022 = nc_df_2022.reset_index()
nc_df_2023 = nc_df_2023.reset_index()

In [24]:
new_nc_df = nc_df_2021.append(nc_df_2022)
new_nc_df = new_nc_df.append(nc_df_2023)
new_nc_df = new_nc_df.reset_index()
new_nc_df = new_nc_df.drop(columns = ['index', 'level_0'])
new_nc_df

/var/folders/jm/4cwpb48s6xv_vgw8y_7bdnn80000gn/T/ipykernel_51899/950667069.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_nc_df = nc_df_2021.append(nc_df_2022)
/var/folders/jm/4cwpb48s6xv_vgw8y_7bdnn80000gn/T/ipykernel_51899/950667069.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_nc_df = new_nc_df.append(nc_df_2023)

,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code
0,Huong Nguyen,Dinh,9505 SEAMILL RD,CHARLOTTE,NC,28278,C,74484.0,2021-10-01,A
1,Corey,Williams,120 Applecross Dr.,Franklinton,NC,02720,C,112429.0,2021-10-01,A
2,Kim,Hawley,525 Christmas tree rd,Dunn,NC,03038,C,101313.0,2021-10-01,A
3,Shara,Owens,PSC 103 Box 2527,"APO, AE",NC,09603,C,110969.0,2021-10-01,A
4,Emma,Patrick,2039 E Hudson Blvd Apt H,Gastonia,NC,20854,C,102870.0,2021-10-01,A
...,...,...,...,...,...,...,...,...,...,...
52926,Suong,Veng,222 ROANOKE ROAD,FLETCHER,NC,71913,C,118963.0,2023-10-01,A
52927,Silvia,Gallo,5305 Bakers Mill RD,Durham,NC,90032,C,55072.0,2023-10-01,A
52928,selam,yosief,7701 creekridge rd #1003,charlotte,NC,92104,C,110288.0,2023-10-01,A
52929,Emily,Barnes,676 Harris St NW,Concord,NC,92223,C,117208.0,2023-10-01,A
52930,Jackie,Kramek,20080 Hosmer mine ct,Foresthill,NC,95631,C,99163.0,2023-10-01,A

In [25]:
sc_df['Expiration Date'] = pd.to_datetime(sc_df['Expiration Date'])
sc_df

,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code
0,Margaret,Berkley,973 platinum dr.,Fort mill,SC,20708,C,55199.0,2023-10-01,E
1,Thamar,Vernet,160 Lodges Ln Apt 108,Clover,SC,23920,C,118805.0,2023-10-01,A
2,Suzanne,Karkoska,608 22nd ave n,North myrtle beach,SC,27502,C,54611.0,2023-10-01,A
3,Robyn,Pirog,116 Adelphia Rd,Loris,SC,27569,C,97334.0,2023-10-01,A
4,Katherine,Miller,486 Gloria court,Florence,SC,27607,C,97491.0,2023-10-01,A
...,...,...,...,...,...,...,...,...,...,...
1968,Tonya,Walker,435 red oak drive,aiken,SC,29801,C,80387.0,2016-10-01,A
1969,Jennifer,Underwood,126 Horry street se,Aiken,SC,29801,C,59457.0,2016-10-01,A
1970,Claudia,Herrington,46 Birch Dr.,Beaufort,SC,29906,C,74180.0,2016-10-01,A
1971,Tiffany,Burnett,53 Confederate Avenue,Bluffton,SC,29910,C,78700.0,2016-10-01,A
1972,Elizabeth,Mayer,127 Lake Linden Drive,Bluffton,SC,29910,C,262.0,2016-10-01,E

In [26]:
sc_df_2021 = sc_df[sc_df['Expiration Date'].dt.year == 2021]
sc_df_2022 = sc_df[sc_df['Expiration Date'].dt.year == 2022]
sc_df_2023 = sc_df[sc_df['Expiration Date'].dt.year == 2023]
sc_df_2021 = sc_df_2021.reset_index()
sc_df_2022 = sc_df_2022.reset_index()
sc_df_2023 = sc_df_2023.reset_index()

In [27]:
new_sc_df = sc_df_2021.append(sc_df_2022)
new_sc_df = new_sc_df.append(sc_df_2023)
new_sc_df = new_sc_df.reset_index()
new_sc_df = new_sc_df.drop(columns = ['index', 'level_0'])
new_sc_df

/var/folders/jm/4cwpb48s6xv_vgw8y_7bdnn80000gn/T/ipykernel_51899/573678160.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_sc_df = sc_df_2021.append(sc_df_2022)
/var/folders/jm/4cwpb48s6xv_vgw8y_7bdnn80000gn/T/ipykernel_51899/573678160.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_sc_df = new_sc_df.append(sc_df_2023)

,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code
0,Jessica,Crafton,5105 mill creek rd,clover,SC,28012,C,73450.0,2021-10-01,A
1,Juleigh,Gallaway,115 Griggs rd,Clover,SC,28056,C,67254.0,2021-10-01,A
2,Rachel,Blankenbecler,2040 Zelkova Drive,Indian Land,SC,28078,C,90180.0,2021-10-01,A
3,Megan,Ferrell,1208 Hammond carnes Rd,Lancaster,SC,28079,C,77057.0,2021-10-01,A
4,Sophia,Gibson,3499 North Rocky River Rd,Lancaster,SC,28110,C,60426.0,2021-10-01,A
...,...,...,...,...,...,...,...,...,...,...
1352,Janet,Krewson,14 Sawtooth Court,Hilton Head Island,SC,29926,C,47573.0,2023-10-01,E
1353,Linda,Ange Ambrose,231 Ridgeland Lakes Drive,Ridgeland,SC,29936,C,57489.0,2023-10-01,E
1354,Tyisha,Sumpter,163 trask pkwy,yemassee,SC,29945,C,97315.0,2023-10-01,A
1355,Melody,Worley,3 Lindsey Hill Trail,Marietta,SC,29961,C,59970.0,2023-10-01,A
1356,Madelynn,Poeggel,9825 English elm st,Ladson,SC,98456,C,99133.0,2023-10-01,A

In [28]:
del nc_df
del sc_df

In [29]:
nc_df = new_nc_df
sc_df = new_sc_df

In [30]:
nc_df['Full Address'] = nc_df['Address']  + ' ' + nc_df['City'] + ' ' + nc_df['State']
sc_df['Full Address'] = sc_df['Address']  + ' ' + sc_df['City'] + ' ' + sc_df['State']

In [31]:
nc_df

,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address
0,Huong Nguyen,Dinh,9505 SEAMILL RD,CHARLOTTE,NC,28278,C,74484.0,2021-10-01,A,9505 SEAMILL RD CHARLOTTE NC
1,Corey,Williams,120 Applecross Dr.,Franklinton,NC,02720,C,112429.0,2021-10-01,A,120 Applecross Dr. Franklinton NC
2,Kim,Hawley,525 Christmas tree rd,Dunn,NC,03038,C,101313.0,2021-10-01,A,525 Christmas tree rd Dunn NC
3,Shara,Owens,PSC 103 Box 2527,"APO, AE",NC,09603,C,110969.0,2021-10-01,A,"PSC 103 Box 2527 APO, AE NC"
4,Emma,Patrick,2039 E Hudson Blvd Apt H,Gastonia,NC,20854,C,102870.0,2021-10-01,A,2039 E Hudson Blvd Apt H Gastonia NC
...,...,...,...,...,...,...,...,...,...,...,...
52926,Suong,Veng,222 ROANOKE ROAD,FLETCHER,NC,71913,C,118963.0,2023-10-01,A,222 ROANOKE ROAD FLETCHER NC
52927,Silvia,Gallo,5305 Bakers Mill RD,Durham,NC,90032,C,55072.0,2023-10-01,A,5305 Bakers Mill RD Durham NC
52928,selam,yosief,7701 creekridge rd #1003,charlotte,NC,92104,C,110288.0,2023-10-01,A,7701 creekridge rd #1003 charlotte NC
52929,Emily,Barnes,676 Harris St NW,Concord,NC,92223,C,117208.0,2023-10-01,A,676 Harris St NW Concord NC
52930,Jackie,Kramek,20080 Hosmer mine ct,Foresthill,NC,95631,C,99163.0,2023-10-01,A,20080 Hosmer mine ct Foresthill NC

In [32]:
from googlemaps import Client as GoogleMaps
gmaps = GoogleMaps('AIzaSyAgPOy0qY-0IRWKJhAzbw9XaKI_YhkecD0')

In [33]:
sc_df['Latitude'] = ""
sc_df['Longitude'] = ""
sc_lat = []
sc_lng = []
sc_addresses = sc_df['Full Address'].tolist()

In [34]:
# sc_addresses

In [35]:
import asyncio
import time

In [36]:
import nest_asyncio
nest_asyncio.apply()
import aiohttp
import json

async def myCoroutine():
    for x in range(len(sc_df)):
        geocode_result = gmaps.geocode(sc_df['Full Address'][x])
#         await asyncio.sleep(1)
        sc_df['Latitude'][x] = geocode_result[0]['geometry']['location'] ['lat']
#         await asyncio.sleep(1)
        sc_df['Longitude'][x] = geocode_result[0]['geometry']['location']['lng']
#         await asyncio.sleep(1)

if __name__ == '__main__':
    loop = asyncio.get_event_loop()
#     tasks = (myCoroutine(x) for x in enumerate(sc_addresses))
    loop.run_until_complete(myCoroutine())
asyncio.run(myCoroutine())

sc_df

nc_df['Latitude'] = ""
nc_df['Longitude'] = ""
nc_lat = []
nc_lng = []
nc_addresses = nc_df['Full Address'].tolist()

async def myCoroutine():
    for x in range(len(nc_df)):
        geocode_result = gmaps.geocode(nc_df['Full Address'][x])
#         await asyncio.sleep(1)
        nc_df['Latitude'][x] = geocode_result[0]['geometry']['location'] ['lat']
#         await asyncio.sleep(1)
        nc_df['Longitude'][x] = geocode_result[0]['geometry']['location']['lng']
#         await asyncio.sleep(1)

if __name__ == '__main__':
    loop = asyncio.get_event_loop()
#     tasks = (myCoroutine(x) for x in enumerate(nc_addresses))
    loop.run_until_complete(myCoroutine())
asyncio.run(myCoroutine())

nc_df

sc_df.to_csv('south_carolina.csv', index=False, header=True)

for x in range(len(nc_df)):
    try:
        time.sleep(1) #to add delay in case of large DFs
        geocode_result = gmaps.geocode(nc_df['Full Address'][x])
        nc_df['Latitude'][x] = geocode_result[0]['geometry']['location'] ['lat']
        nc_df['Longitude'][x] = geocode_result[0]['geometry']['location']['lng']
    except:
        print('Nope')

import geopy
from geopy import GoogleV3
geolocator = GoogleV3(api_key='AIzaSyAgPOy0qY-0IRWKJhAzbw9XaKI_YhkecD0')

nc_df["loc"] = nc_df["Full Address"].apply(geolocator.geocode)

nc_df["point"]= nc_df["loc"].apply(lambda loc: tuple(loc.point) if loc else None)

nc_df[['Latitude', 'Longitude', 'Altitude']] = pd.DataFrame(nc_df['point'].to_list(), index=nc_df.index)

nc_df = nc_df.drop(columns=['loc', 'point', 'Altitude'])

nc_df

locations = sc_df[["Latitude", "Longitude"]].astype(float)
locations_2 = nc_df[["Latitude", "Longitude"]].astype(float)

sc_df["loc"] = sc_df["Full Address"].apply(geolocator.geocode)
sc_df["point"]= sc_df["loc"].apply(lambda loc: tuple(loc.point) if loc else None)
sc_df[['Latitude', 'Longitude', 'Altitude']] = pd.DataFrame(sc_df['point'].to_list(), index=sc_df.index)

sc_df = sc_df.drop(columns=['loc', 'point', 'Altitude'])

sc_df

In [37]:
nc_df = pd.read_csv('north_carolina.csv', names=['First Name', 'Last Name', 'Address', 'City', 'State', 'Zip', 'License Code', 'License Number', 'Expiration Date', 'License Status Code', 'Full Address', 'Latitude', 'Longitude'], skiprows=1)
sc_df = pd.read_csv('south_carolina.csv', names=['First Name', 'Last Name', 'Address', 'City', 'State', 'Zip', 'License Code', 'License Number', 'Expiration Date', 'License Status Code', 'Full Address', 'Latitude', 'Longitude'], skiprows=1)

In [38]:
sc_df.to_csv('south_carolina.csv', index=False, header=True)

In [39]:
nc_df.to_csv('north_carolina.csv', index=False, header=True)

In [40]:
nc_df = nc_df.iloc[1: , :]
nc_df

,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
1,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
2,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
3,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
4,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
5,Huong Nguyen,Dinh,9505 Seamill Rd,Charlotte,NC,28278,C,74484.0,2021-10-01,A,9505 Seamill Rd Charlotte Nc,35.1653988,-80.99632319999999
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52931,Suong,Veng,222 Roanoke Road,Fletcher,NC,71913,C,118963.0,2023-10-01,A,222 Roanoke Road Fletcher Nc,35.403258,-82.5286667
52932,Silvia,Gallo,5305 Bakers Mill Rd,Durham,NC,90032,C,55072.0,2023-10-01,A,5305 Bakers Mill Rd Durham Nc,35.9347539,-78.9930007
52933,selam,yosief,7701 Creekridge Rd #1003,Charlotte,NC,92104,C,110288.0,2023-10-01,A,7701 Creekridge Rd #1003 Charlotte Nc,35.15626,-80.74025999999999
52934,Emily,Barnes,676 Harris St Nw,Concord,NC,92223,C,117208.0,2023-10-01,A,676 Harris St Nw Concord Nc,35.4234471,-80.6039181
52935,Jackie,Kramek,20080 Hosmer Mine Ct,Foresthill,NC,95631,C,99163.0,2023-10-01,A,20080 Hosmer Mine Ct Foresthill Nc,39.001832,-120.9041875

In [41]:
sc_df

,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
0,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
1,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
2,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
3,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
4,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357,Janet,Krewson,14 Sawtooth Court,Hilton Head Island,SC,29926,C,47573.0,2023-10-01,E,14 Sawtooth Court Hilton Head Island Sc,32.2346246,-80.7309047
1358,Linda,Ange Ambrose,231 Ridgeland Lakes Drive,Ridgeland,SC,29936,C,57489.0,2023-10-01,E,231 Ridgeland Lakes Drive Ridgeland Sc,32.47944820000001,-80.95591019999999
1359,Tyisha,Sumpter,163 Trask Pkwy,Yemassee,SC,29945,C,97315.0,2023-10-01,A,163 Trask Pkwy Yemassee Sc,32.6339489,-80.83948459999999
1360,Melody,Worley,3 Lindsey Hill Trail,Marietta,SC,29961,C,59970.0,2023-10-01,A,3 Lindsey Hill Trail Marietta Sc,35.1170686,-82.46069969999999
1361,Madelynn,Poeggel,9825 English Elm St,Ladson,SC,98456,C,99133.0,2023-10-01,A,9825 English Elm St Ladson Sc,32.9437246,-80.1127819

In [42]:
# locations = sc_df[["Latitude", "Longitude"]].astype(float)
# locations_2 = nc_df[["Latitude", "Longitude"]].astype(float)

In [43]:
import gmaps
gmaps.configure(api_key='AIzaSyAgPOy0qY-0IRWKJhAzbw9XaKI_YhkecD0')

fig = gmaps.figure()

fig.add_layer(gmaps.heatmap_layer(locations))

fig

In [44]:
nc_df = nc_df.dropna()

In [45]:
nc_df

,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
1,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
2,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
3,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
4,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
5,Huong Nguyen,Dinh,9505 Seamill Rd,Charlotte,NC,28278,C,74484.0,2021-10-01,A,9505 Seamill Rd Charlotte Nc,35.1653988,-80.99632319999999
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52931,Suong,Veng,222 Roanoke Road,Fletcher,NC,71913,C,118963.0,2023-10-01,A,222 Roanoke Road Fletcher Nc,35.403258,-82.5286667
52932,Silvia,Gallo,5305 Bakers Mill Rd,Durham,NC,90032,C,55072.0,2023-10-01,A,5305 Bakers Mill Rd Durham Nc,35.9347539,-78.9930007
52933,selam,yosief,7701 Creekridge Rd #1003,Charlotte,NC,92104,C,110288.0,2023-10-01,A,7701 Creekridge Rd #1003 Charlotte Nc,35.15626,-80.74025999999999
52934,Emily,Barnes,676 Harris St Nw,Concord,NC,92223,C,117208.0,2023-10-01,A,676 Harris St Nw Concord Nc,35.4234471,-80.6039181
52935,Jackie,Kramek,20080 Hosmer Mine Ct,Foresthill,NC,95631,C,99163.0,2023-10-01,A,20080 Hosmer Mine Ct Foresthill Nc,39.001832,-120.9041875

In [46]:
nc_df['City'] = nc_df['City'].str.title()
sc_df['City'] = sc_df['City'].str.title()
nc_df['Address'] = nc_df['Address'].str.title()
sc_df['Address'] = sc_df['Address'].str.title()
nc_df['Full Address'] = nc_df['Full Address'].str.title()
sc_df['Full Address'] = sc_df['Full Address'].str.title()

/var/folders/jm/4cwpb48s6xv_vgw8y_7bdnn80000gn/T/ipykernel_51899/1022909501.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nc_df['City'] = nc_df['City'].str.title()
/var/folders/jm/4cwpb48s6xv_vgw8y_7bdnn80000gn/T/ipykernel_51899/1022909501.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nc_df['Address'] = nc_df['Address'].str.title()
/var/folders/jm/4cwpb48s6xv_vgw8y_7bdnn80000gn/T/ipykernel_51899/1022909501.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nc_df['Full Address'] = nc_df['Full Address'].str.title()

In [47]:
nc_df = pd.DataFrame(None)

In [119]:
nc_df = pd.read_csv('north_carolina.csv', names=['First Name', 'Last Name', 'Address', 'City', 'State', 'Zip', 'License Code', 'License Number', 'Expiration Date', 'License Status Code', 'Full Address', 'Latitude', 'Longitude'])
sc_df = pd.read_csv('south_carolina.csv', names=['First Name', 'Last Name', 'Address', 'City', 'State', 'Zip', 'License Code', 'License Number', 'Expiration Date', 'License Status Code', 'Full Address', 'Latitude', 'Longitude'])

In [120]:
nc_df['City'] = nc_df['City'].str.title()
sc_df['City'] = sc_df['City'].str.title()
nc_df['Address'] = nc_df['Address'].str.title()
sc_df['Address'] = sc_df['Address'].str.title()
nc_df['Full Address'] = nc_df['Full Address'].str.title()
sc_df['Full Address'] = sc_df['Full Address'].str.title()

In [121]:
nc_df.to_csv('north_carolina.csv', index=False, header=True)
sc_df.to_csv('south_carolina.csv', index=False, header=True)

In [122]:
new_df = pd.read_csv('south_carolina.csv')
new_df

,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
0,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
1,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
2,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
3,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
4,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1359,Janet,Krewson,14 Sawtooth Court,Hilton Head Island,SC,29926,C,47573.0,2023-10-01,E,14 Sawtooth Court Hilton Head Island Sc,32.2346246,-80.7309047
1360,Linda,Ange Ambrose,231 Ridgeland Lakes Drive,Ridgeland,SC,29936,C,57489.0,2023-10-01,E,231 Ridgeland Lakes Drive Ridgeland Sc,32.47944820000001,-80.95591019999999
1361,Tyisha,Sumpter,163 Trask Pkwy,Yemassee,SC,29945,C,97315.0,2023-10-01,A,163 Trask Pkwy Yemassee Sc,32.6339489,-80.83948459999999
1362,Melody,Worley,3 Lindsey Hill Trail,Marietta,SC,29961,C,59970.0,2023-10-01,A,3 Lindsey Hill Trail Marietta Sc,35.1170686,-82.46069969999999
1363,Madelynn,Poeggel,9825 English Elm St,Ladson,SC,98456,C,99133.0,2023-10-01,A,9825 English Elm St Ladson Sc,32.9437246,-80.1127819

In [123]:
charlotte_df = nc_df.loc[nc_df['City'] == 'Charlotte']
charlotte_df = charlotte_df.reset_index()
charlotte_df = charlotte_df.drop(columns=['index'])
charlotte_df.to_csv('charlotte.csv', index=False, header=True)

In [124]:
nc_df['City'].value_counts().head(50)

Charlotte         4920
Raleigh           2732
Greensboro        1765
Durham            1387
Fayetteville      1370
Wilmington        1238
Winston Salem      978
Concord            719
Jacksonville       618
Asheville          577
Cary               550
High Point         544
Gastonia           524
Mooresville        500
Monroe             477
Greenville         467
Hickory            432
Burlington         422
Statesville        404
Salisbury          396
Clayton            386
Sanford            364
Lexington          354
Matthews           342
Goldsboro          340
Wake Forest        335
Kannapolis         328
Hendersonville     326
Apex               326
Kernersville       311
New Bern           306
Garner             306
Rocky Mount        301
Asheboro           282
Wilson             270
Shelby             267
Waxhaw             264
Huntersville       259
Lincolnton         253
Fuquay Varina      239
Indian Trail       224
Morganton          224
Thomasville        216
Lumberton          212
Raeford            206
Leland             202
Hope Mills         201
Graham             198
Reidsville         197
Elizabeth City     197
Name: City, dtype: int64

In [125]:
charlotte_df

,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
0,Huong Nguyen,Dinh,9505 Seamill Rd,Charlotte,NC,28278,C,74484.0,2021-10-01,A,9505 Seamill Rd Charlotte Nc,35.1653988,-80.99632319999999
1,Justin,Flournoy,2229 Village Lake Dr.,Charlotte,NC,27212,C,111314.0,2021-10-01,A,2229 Village Lake Dr. Charlotte Nc,35.161911,-80.74212399999999
2,Joanne E,Reeves,2000 Paladin Ct,Charlotte,NC,28012,C,102939.0,2021-10-01,A,2000 Paladin Ct Charlotte Nc,35.2507416,-81.0495641
3,Lamont,Cary,2000 South Blvd.,Charlotte,NC,28023,C,112918.0,2021-10-01,A,2000 South Blvd. Charlotte Nc,35.20955,-80.86048129999999
4,Bao,Yang,2915 Phillips Fairway Dr,Charlotte,NC,28031,C,61245.0,2021-10-01,A,2915 Phillips Fairway Dr Charlotte Nc,35.3347486,-80.90145919999999
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4915,Sharell,Daley,12820 Winter Hazel Rd. Apt 208,Charlotte,NC,28278,C,109087.0,2023-10-01,A,12820 Winter Hazel Rd. Apt 208 Charlotte Nc,35.10455,-80.99669999999999
4916,Kristy,Harrison,P. O. Box 16861,Charlotte,NC,28297,C,57650.0,2023-10-01,A,P. O. Box 16861 Charlotte Nc,35.2270869,-80.8431267
4917,LaTrea,Ricks,316 North Rhett Street,Charlotte,NC,28461,C,118704.0,2023-10-01,A,316 North Rhett Street Charlotte Nc,33.9226857,-78.017153
4918,Yfaina,Diaz,7800 Royal Point Dr Apt 104,Charlotte,NC,29273,C,97747.0,2023-10-01,A,7800 Royal Point Dr Apt 104 Charlotte Nc,35.14524,-80.92376
4919,Kiarra,Grant,6908 Dixie River Rd.,Charlotte,NC,29278,C,117298.0,2023-10-01,A,6908 Dixie River Rd. Charlotte Nc,35.1773446,-80.9908413

In [126]:
url = "https://data.searchbug.com/api/search.aspx?CO_CODE='12617834'&PASS='Ruger2012!?'&TYPE='api_phone'&ADDRESS='4252 Mitchell Estate St'&CITY='Sophia'&STATE='NC'&ZIP='27350'&FORMAT='JSON'"

In [127]:
import requests
phone_num = []
charlotte_df['Last Name'] = charlotte_df['Last Name'].str.upper()
charlotte_df['Address'] = charlotte_df['Address'].str.upper()
charlotte_df['Zip'] = charlotte_df['Zip'][:5]
charlotte_df['Zip'] = charlotte_df['Zip'].astype('str')
charlotte_df['Address'] = charlotte_df['Address'].str.replace(r'[^\w\s]+', '')
charlotte_df["Address"]= charlotte_df['Address'].str.replace(' STREET', ' ST')
charlotte_df["Address"]= charlotte_df['Address'].str.replace(' BOULEVARD', ' BLVD')
charlotte_df["Address"]= charlotte_df['Address'].str.replace(' COURT', " CT")
charlotte_df["Address"]= charlotte_df['Address'].str.replace(' ROAD', ' RD')
charlotte_df["Address"]= charlotte_df['Address'].str.replace(' LANE', ' LN')
charlotte_df["Address"]= charlotte_df['Address'].str.replace(' PLACE', ' PL')

/var/folders/jm/4cwpb48s6xv_vgw8y_7bdnn80000gn/T/ipykernel_51899/556617231.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  charlotte_df['Address'] = charlotte_df['Address'].str.replace(r'[^\w\s]+', '')

In [129]:
charlotte_df = charlotte_df.dropna(subset=['Address'])
charlotte_df

,First Name,Last Name,Address,City,State,Zip,License Code,License Number,Expiration Date,License Status Code,Full Address,Latitude,Longitude
0,Huong Nguyen,DINH,9505 SEAMILL RD,Charlotte,NC,28278,C,74484.0,2021-10-01,A,9505 Seamill Rd Charlotte Nc,35.1653988,-80.99632319999999
1,Justin,FLOURNOY,2229 VILLAGE LAKE DR,Charlotte,NC,27212,C,111314.0,2021-10-01,A,2229 Village Lake Dr. Charlotte Nc,35.161911,-80.74212399999999
2,Joanne E,REEVES,2000 PALADIN CT,Charlotte,NC,28012,C,102939.0,2021-10-01,A,2000 Paladin Ct Charlotte Nc,35.2507416,-81.0495641
3,Lamont,CARY,2000 SOUTH BLVD,Charlotte,NC,28023,C,112918.0,2021-10-01,A,2000 South Blvd. Charlotte Nc,35.20955,-80.86048129999999
4,Bao,YANG,2915 PHILLIPS FAIRWAY DR,Charlotte,NC,28031,C,61245.0,2021-10-01,A,2915 Phillips Fairway Dr Charlotte Nc,35.3347486,-80.90145919999999
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4915,Sharell,DALEY,12820 WINTER HAZEL RD APT 208,Charlotte,NC,nan,C,109087.0,2023-10-01,A,12820 Winter Hazel Rd. Apt 208 Charlotte Nc,35.10455,-80.99669999999999
4916,Kristy,HARRISON,P O BOX 16861,Charlotte,NC,nan,C,57650.0,2023-10-01,A,P. O. Box 16861 Charlotte Nc,35.2270869,-80.8431267
4917,LaTrea,RICKS,316 NORTH RHETT ST,Charlotte,NC,nan,C,118704.0,2023-10-01,A,316 North Rhett Street Charlotte Nc,33.9226857,-78.017153
4918,Yfaina,DIAZ,7800 ROYAL POINT DR APT 104,Charlotte,NC,nan,C,97747.0,2023-10-01,A,7800 Royal Point Dr Apt 104 Charlotte Nc,35.14524,-80.92376
4919,Kiarra,GRANT,6908 DIXIE RIVER RD,Charlotte,NC,nan,C,117298.0,2023-10-01,A,6908 Dixie River Rd. Charlotte Nc,35.1773446,-80.9908413

In [ ]:
phone_num = []
for i in range(len(charlotte_df)):
    query_url = f'https://data.searchbug.com/api/search.aspx?CO_CODE=12617834&PASS=Ruger2012!?&TYPE=api_phone&ADDRESS={charlotte_df.Address[i]}&CITY=Charlotte&STATE=NC&FORMAT=JSON'
    response = requests.get(query_url)
    response2 = response.json()
    for x in range(len(response2) - 1):
        if response2['STATUS'] == 'SUCCESS' and response2['DATA']['RECORD'][x]['LNAME'] == charlotte_df['Last Name'][i]:
            phone_num.append(response2['DATA']['RECORD'][x]['PHONE'])
            break
        else:
            if response2['STATUS'] == 'SUCCESS' and response2['DATA']['RECORD'][(x + 1)]['LNAME'] == charlotte_df['Last Name'][i]:
                phone_num.append(response2['DATA']['RECORD'][(x + 1)]['PHONE'])
                break
            else:
                phone_num.append('NaN')
                break
phone_num = []

In [132]:
phone_num

[]

In [91]:
phone_num = []
query_url = "https://data.searchbug.com/api/search.aspx?CO_CODE='12617834'&PASS='Ruger2012!?'&TYPE='api_phone'&ADDRESS='charlotte_df.Address[0]'&CITY='Charlotte'&STATE='NC'&FORMAT='JSON'"
response = requests.get(query_url)
response2 = response.json()
for x in range(2):
    if response2['STATUS'] == 'SUCCESS' and response2['DATA']['RECORD'][x]['LNAME'] == charlotte_df['Last Name'][0]:
        phone_num.append(response2['DATA']['RECORD'][x]['PHONE'])
        break
    elif response2['STATUS'] == 'SUCCESS' and response2['DATA']['RECORD'][(x + 1)]['LNAME'] == charlotte_df['Last Name'][0]:
        phone_num.append(response2['DATA']['RECORD'][(x + 1)]['PHONE'])
        break
    else:
        phone_num.append('NaN')
        break
phone_num

['NaN']

In [80]:
print(response2)

{'STATUS': 'NORESULTS', 'DATA': None, 'ERROR': None}

In [93]:
# &ZIP='charlotte_df['Zip'][i]'
charlotte_df['Address'][0]

'9505 SEAMILL RD'

In [130]:
query_url = f'https://data.searchbug.com/api/search.aspx?CO_CODE=12617834&PASS=Ruger2012!?&TYPE=api_phone&ADDRESS=316 NORTH RHETT ST&CITY=Charlotte&STATE=NC&FORMAT=JSON'
response = requests.get(query_url)
response2 = response.json()
response2

{'STATUS': 'NORESULTS', 'DATA': None, 'ERROR': None}

for x in range(len(response2) - 1):
    if response2['STATUS'] == 'SUCCESS' and response2['DATA']['RECORD'][0]['LNAME'] == charlotte_df['Last Name'][1]:
        print('Correct')

if response2['STATUS'] == 'SUCCESS':
    print('yay')

huntersville_df = nc_df.loc[nc_df['City'] == 'Huntersville']
huntersville_df = huntersville_df.reset_index()
huntersville_df = huntersville_df.drop(columns=['index'])
huntersville_df.to_csv('huntersville.csv', index=False, header=True)

concord_df = nc_df.loc[nc_df['City'] == 'Concord']
concord_df = concord_df.reset_index()
concord_df = concord_df.drop(columns=['index'])
concord_df.to_csv('concord.csv', index=False, header=True)

gastonia_df = nc_df.loc[nc_df['City'] == 'Gastonia']
gastonia_df = gastonia_df.reset_index()
gastonia_df = gastonia_df.drop(columns=['index'])
gastonia_df.to_csv('gastonia.csv', index=False, header=True)

matthews_df = nc_df.loc[nc_df['City'] == 'Matthews']
matthews_df = matthews_df.reset_index()
matthews_df = matthews_df.drop(columns=['index'])
matthews_df.to_csv('matthews.csv', index=False, header=True)

kannapolis_df = nc_df.loc[nc_df['City'] == 'Kannapolis']
kannapolis_df = kannapolis_df.reset_index()
kannapolis_df = kannapolis_df.drop(columns=['index'])
kannapolis_df.to_csv('kannapolis.csv', index=False, header=True)